<h1>Create a Team and Heroes!</h1><br>
<form action='/superheroes' method="POST">
  <h2>Hero 1</h2>
  <label for="member1_name">Name</label><br>
  <input id="member1_name" type="text" name="team[member1_name]"></br>
  <label for="member1_power">Power</label><br>
  <input id="member1_power" type="text" name="team[member1_power]"><br>
  <label for="member1_bio">Bio</label><br>
  <input id="member1_bio" type="text" name="team[member1_bio]"><br>

  <h2>Team</h2>
