<h1>Create a Team and Heroes!</h1><br>
<form action='/superheroes' method="POST">
  <h2>Hero 1</h2>
  <label for="hero1">Name</label><br>
  <input id="superhero_name" type="text" name="superhero[name]"></br>
  <label for="power">Power</label><br>
  <input id="power" type="text" name="superhero[power]"><br>
  <label for="bio">Bio</label><br>
  <input id="bio" type="text" name="superhero[bio]"><br>

  <h2>Team</h2>
